.App {
  text-align: center;
/*   background-image:url('./image/arrirePlan.png') ; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-nav{
  float: right;
  color:white;
  width:100%;
 box-shadow: 10px 10px 5px 0px black;
 font-weight: 300;
}

.Jumbotron{
  background-image: url('./image/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
   background-position: center;
   margin-top: 100px;
   padding-top:50px;
}

.App-title {
  color:rgb(226, 99, 99);
  padding:0 0 25px 0 ;
  font-weight: 300;
  font-size:1.5em;

}

.App-link {
  color: #61dafb;
}
